*, *::before, *::after {
    box-sizing: border-box;
  }
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  /*
    5. Improve media defaults
  */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }


*{
    text-align: center;
}

#titleDivision{
    
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
#contentSection{
    min-width: 100%;
    display: flex;
    flex-direction: column;
    
}

#mainTempDivision{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    /* width: 100%; */
    margin-top:2rem;
    font-size: 3rem;
    background-color: rgba(255,255,255,0.2);
}

#iconDivision{
    width: 100px;
    margin-right: 1.5rem;
}
#tempDivision{
    margin-right: 1.5rem;
}



#secondTempDivision{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-left: 10%;
    margin-right: 10%;
}

.secondTempChildren{
    width: 250px;
    font-size: 1.5rem;
    border: 1px solid black;
    margin:1rem;
    border-radius: 1rem;
    background-color: rgba(0,0,0,0.5)
}

.secondTempTitle{
    display: flex;
    justify-content: center;
}

.secondTempSVG{
    width: 42px;
}

.secondTempNumber{
    font-size: 2.5rem;
}

#uvNum{
    border-radius: 1rem;
}
.UVred{
    border-bottom: 10px solid red;
}
.UVyellow{
    border-bottom: 10px solid yellow;

}
.UVgreen{
    border-bottom: 10px solid rgb(164, 255, 29);

}

#moonStyle{
    display: flex;
    justify-content: center;
    width: 80px;
    margin-left: 40%;
    margin-right: 40%;
    

}

#finalTempDivision{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.finalTempChildren{
    width: 250px;
    font-size: 1.5rem;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 1rem;
    background-color:rgba(0,0,0,0.5);
}
.finalSVG{
    margin-left: 36%;
    width: 80px;
    height: 80px;
    margin-top: 5px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 0.5rem;
}

.duskBackground{
    background-image: url(images/overlay.png),
    linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
    background-attachment:fixed;/*repeat new gradient on scrolling down*/  
    height: 100%; 
    color: white;
}
.dawnBackground{
    background-image: url(images/overlay.png),
    linear-gradient(45deg, #ff721a 15%, #0412ab 85%);
    background-attachment:fixed;/*repeat new gradient on scrolling down*/  
    height: 100%; 
    color: white;

}

.nightBackground{
    background-image: url(images/overlay.png),
    linear-gradient(45deg, #0c1d61 15%, #000000 85%);
    background-attachment:fixed;/*repeat new gradient on scrolling down*/  
    height: 100%; 
    color: white;

}

.dayBackground{
    
    background-image: url(images/overlay.png),
    linear-gradient(45deg, #ffb143 15%, #0994fd 85%);
    background-attachment:fixed;/*repeat new gradient on scrolling down*/  
    height: 100%; 
    color: white;
    
    
}